---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.kube.namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  type: ClusterIP
  ports:
    - port: 8096
      targetPort: 8096
  selector:
    app: jellyfin
