---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-logstash
  namespace: logging
data:
  input.conf: |
    input {
      beats {
        port => 5044
      }
    }

{{- range .Values.logstash.pipelines }}
  {{ .name }}.conf: |
    filter {
      if [kubernetes][container][name] == "{{ .name }}" {
        mutate {
          add_tag => ["{{ .name }}"]
        }
        {{- nindent 6 .filter }}
      }
    }

    output {
      if "{{ .name }}" in [tags] {
        {{ $.Values.search.engine }} {
          hosts => ["${SEARCH_HOST}"]
          user => "${SEARCH_USERNAME}"
          password => "${SEARCH_PASSWORD}"
          index => "{{ .index }}-%{+YYYY.MM.dd}"
          ssl => true
          ssl_certificate_verification => false
        }
      }
    }
{{- end }}


---
{{- if .Values.filebeat.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-filebeat
  namespace: logging
data:
  filebeat.yml: |
    filebeat.autodiscover:
      providers:
        - type: kubernetes
          node: ${NODE_NAME}
          hints.enabled: true
          hints.default_config: false
      add_resource_metadata:
        namespace: true
        labels: true
        annotations: true
    processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

    output.logstash:
      hosts: ["service-logstash.logging.svc.cluster.local:5044"]
{{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: secret-logstash
  namespace: logging
type: Opaque
data:
  logstash-username: {{ .Values.logstash.elasticUsername | b64enc | quote }}
  logstash-password: {{ .Values.logstash.elasticPassword | b64enc | quote }}

---
apiVersion: v1
kind: Secret
metadata:
  name: secret-kibana
  namespace: logging
type: Opaque
data:
  kibana-username: {{ .Values.kibana.elasticUsername | b64enc | quote }}
  kibana-password: {{ .Values.kibana.elasticPassword | b64enc | quote }}
